<% layout('/Layout/boilerplate') %>

<body>
  <h1>List Of Hotels</h1>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
    <% for(let AllList of List){ %>
    <a href="/listing/<%= AllList._id %>" class="Img-links">
      <div class="card col">
        <img src="<%= AllList.image.url %>" class="card-img-top" alt="Image Listings" style="height: 20rem;">
        <div class="card-img-overlay">Click To View Details</div>
        <div class="card-body">
          <p class="card-text"><b><%= AllList.title %></b></p>
          <p class="card-text">RS.<%= AllList.price.toLocaleString('en-IN') %> / night </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>