<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new.css">
    <title>POST DATA</title>
</head>
<body>
    <h1>Enter Data For POST</h1>
    <form method="post" action="/posts">
    <label for="name">Username</label> <br>
    <input type="text" name="username" placeholder="username" id="name"> <br><br>
    <textarea name="content" placeholder="Enter Content .."></textarea> <br>
    <button>Submit</button>
    </form>
</body>
</html>