<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Show Data</title>
</head>
<body>
    <h1>Given Data</h1>
    <div class="con">
        <h2 class="user">Username is <%= post.username %></h2>
        <h3 class="data"> ID: <%= post.id %> </h3>
        <h3 class="data"><b><i>Content: <%= post.content %></i></b></h3>
    </div>
</body>
</html>