<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/style2.css">
</head>
<body>
    <Form method="post" action="/chats">
        <div class="Sen">
        <label for="From">Form</label>
        <input type="text" id="From" name="From" placeholder="Enter Sender name">
        <label for="To">To</label>
        <input type="text" id="To" name="To" placeholder="Enter Reciever name">
        </div>
        <textarea name="Msg" id="txt" placeholder="Enter Your Message"></textarea>
        <button type="submit">Send</button>
    </Form>
</body>
</html>