body {
  display: flex;
  font-family: sans-serif;
  background-color: #f0f0f0;
}

.main {
  margin: auto;
}

h1, p {
  text-align: center;
}

.box {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  border: 10px solid black;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.flash {
  background-color: white !important;
}
.usrflash {
  background-color: lime !important;
}
.red {
  background-color: rgba(165, 42, 42, 0.598);
}

.green {
  background-color: rgba(51, 145, 51, 0.482);
}

.orange {
  background-color: rgba(255, 166, 0, 0.685);
}

.blue {
  background-color: rgba(50, 37, 137, 0.559);
}
.rede {
  background-color: red;
}
