<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About EJS</title>
</head>
<body>
    <H1>EJS Here!</H1>
     <h3>Error Code <%= 400+4 %> </h3>
     <h3>Error Code <%= "Ali Rehmani".toUpperCase(); %> </h3>
     <h3>Error Code <%= ["Ali","Talha","Adil"][2] %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quo porro quisquam natus laudantium odio error,<br> accusantium officia deserunt vitae quam possimus impedit similique saepe a excepturi? Voluptatem, esse ipsam.</p>
    <button>Click me</button>
    <hr>
</body>
</html>