<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram
    </title>
</head>
<body>
    <h1>Welcome to the Page of @<%= username %></h1>
    <button>Follow</button><button>Message</button>

    <h3>Followers are of @<%= username %></h3>
    <ul><% for(let Follow of followers){ %>
        <li><%= Follow %></li>
    <%}%></ul>

</body>
</html>
