/* div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: blueviolet;
    margin: auto;
    margin-top: 25%;
} */
input{
    height : 20px;
    width : 300px ; 
}

.btn{
    /* display: block; */
    width: 100px;
    background-color: aliceblue;
    margin-top: 50px;
    font-size: large;
    font-family: sans-serif;
    border-radius: 15px;
    border: 2px solid lightpink;
    transition: ease-in 0.5s;
    cursor: pointer;
}
.btn:hover{
    background-color: chocolate;
    box-shadow: 2px 2px 8px black;
    transform: scale(1);
}